<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    img {
      border: 0px solid #F8F8FF ;
      border-radius: 0px;
      padding: 35px;
      width: 250px;
      height: 50%;
  }

  img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sheen's Renovation</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">活動全般</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Sheenとは</h1>
    <p>活動全般をサムネイルで紹介</p>
  </div>
</div>



<!-- 一番上のスライダー -->
<div class="container">
  <h2>Sheen's English</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <a target="_blank" href="http://res.cloudinary.com/db45meith/image/upload/v1506589721/ujijt5uy5znmjyic2zbk.png">
        <center><img src="http://res.cloudinary.com/db45meith/image/upload/v1506589721/ujijt5uy5znmjyic2zbk.png" alt="Los Angeles" style="width:50%; height:10%;"></center>
        </a>
        </div>

      <div class="item">
        <center><img src="http://res.cloudinary.com/db45meith/image/upload/v1506589612/qp3naolrcdhtu4qdyejt.png" alt="Chicago" style="width:50%; height: 50%;"></center>
          </div>

      <div class="item">
        <center><img src="http://res.cloudinary.com/db45meith/image/upload/v1506585970/pgprjncyp1kin6tbf59b.png" alt="New York" style="width:50%;"></center>
        </div>

      <div class="item">
        <center><img src="http://res.cloudinary.com/db45meith/image/upload/v1506585404/lukwthaifkdwmohht1v1.png" alt="Chicago" style="width:50%;"></center>
        </div>

      <div class="item">
        <center><img src="http://res.cloudinary.com/db45meith/image/upload/v1506585970/pgprjncyp1kin6tbf59b.png" alt="New York" style="width:50%;"></center>
        <div class="carousel-caption">
          </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- ４つのサムネイル -->

<div class="container-fluid bg-3 text-center">
  <h3>Sheen's English</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>jkj;l</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506589721/ujijt5uy5znmjyic2zbk.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506589612/qp3naolrcdhtu4qdyejt.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506585970/pgprjncyp1kin6tbf59b.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506585404/lukwthaifkdwmohht1v1.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>


<!-- ３つめが謎の巨大化　おそらく最初の影響を受けているはず。 -->
<div class="container-fluid bg-3 text-center">
  <h3>活動一覧</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506589721/ujijt5uy5znmjyic2zbk.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506589612/qp3naolrcdhtu4qdyejt.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506585970/pgprjncyp1kin6tbf59b.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506585404/lukwthaifkdwmohht1v1.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <h3>活動一覧</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://lh3.googleusercontent.com/VW5pUbjRJn8FNQ8XlGLAJXePnPFWItZA8MLU8DZ4pWrXfm7iJDKWscxSYajF-4Hd07Pq93oD4ntJ_CLWg9DqzCvjZUiz8ZJgbY6syxQqafa8TI4hGwSUjok_-2-0a8Nndvvr24rYVTD_iMOG8X3Sr794Na2E07bwU0xq1o1TxRzK_44IqsgvPil9m1OFQ9yixKq72Ao-ptclGsKkCCSU6feP5UW7DJxVh-db7CxZHvutAQHnfR1yUpWJXR4ZKDM9fxuTIhT1lUWl8OW2daxOumNz0MQD0RJbnheFneyr1VpKzVTIjrLeDPkjInJE6CPBf8tq3zQXEeSwaY-svIuKQUAaPLZOs6kwph87_BuLta9r6XSdbPUMxPAFm7pNjxq6rpY9AyxzdNqSt8J4NgMnxIkimH_hGESA7-v8Cw3leDqYxvYkC2vl8rS35pA0eWNPMctF8ZAWv9EZ663R_vyxLd0XO0FGzyTZQ89Lv7cDysztBiugkelQSiRLtKPSIEec5zeUc1uXS3ciESPX_paBlSqtC4-4ZsRbkl9qEDXMkVFw08_-Xoj-prT0zm7BJRFJPcYkg0BH0cEI2BfrjiZUUvQacRjQdvHDSW79ASvbCfA=w855-h640-no" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://lh3.googleusercontent.com/Z9ACPVsMKtbDHcUDU1CWU0SN33fuUetfaMDZ_L7jio8rp8d1M4ZDJLAg5qL1WjuyACIMfxrI-02lQLjqxCYOPmEsz3N3tNVogzkVqNbHO3E0m1Dd3FrR056PojMFX3rlJjmaQNLXzcoJ3bPTrd1JXUxLJoD1tETWjzdZ1-sKWYQcPoyObxpIzrTF2zkxiuNnPEVmE4_3ShYwyGC-N80KuwsqmYBLvCRVuH2M2LNqRLAp7tPFmdsMHqBZTRvZNjdS9FtLZgWtIwm5uCaqu6OPHHoXFyuWLNSsME6JtbVJwHpqmfWYL6rcCJmJuARa8iDef7lrinTGrhMX-XxxwplY0VgM2o72H4IGh7MM__sGb3mf9hzigz7m7Edo5NUpzQizboid_-9j68VZjhfoRlc4ocBcOpQOZt1UbsePP4lDWo3iZpZza9qss6pnPLIfnVlpaXQKyxRlm9Y6q9pigLn23HHU18K_kjrnWbXxBv0r6UJal5cYAmOhScy5ceQlQ8so6XahYlSplbrIQsmK6x2LLBKp8RahfKm3uZ2Wz3YgqNlabBi0q7x_Uudp_rA1qMBhAHv6oK-wNGVqPMBdjjbQ1nD2hwgAZ805jVTOaw1_-vA=w855-h640-no" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://lh3.googleusercontent.com/egvejbghfW2O9dFmWahbQ3tzeeAlS8-DsfN76CWKQm6vIe8ek8KhC1cPXd1XNCySQNd3-PYz9UOqRcFUsOTNKcwkr5hHIx4ris-Jx2SIvkXz4yPyQjayIFGPsJyCIq9Rb4xW5KeMBfE07Nhvi2mqXBgckyldfumRQ34LljH9aHP5twXwouR-4ypcA0YIUI4SgKq1OPs4wDGcla9ITEQY0JK8_PpVvIdTQ1f8paIOv_FdQ4EngHwbHQ5j7V9zH-kz3IBH7UEZZlBLofwlhJ4V5EwZ-oObHAxNbVbQ1WkwzjvqmvAb5Dqcq0Ie2ulBQFoxncW5K4lYYsJo7E1kbNoy5wGy-me4viRmNY46EeY-KnkiUZJfqrFUn6HjYtojSlJXxA51Bkf0BdCaJ_WA69OvA4GPr8_LS_FbqiTEJz75cmEJrFxP7p-7N3EJ2PH-wgf_lGsfr5JFFpiczsLCQsbPXhcRBZ0395yAfSJfo7Mu0f4saxgz8wkL5fIgksZedB14hSFP3--QHB4mg5ZpcBVeq5erSOpCdXWI27SbJz-7d8-CaZYG7NXZss3FWhlxSLVm_7PyJ32RSdo8bQjEd5_b1tAZEBdBs5OgSTHntqAj3Aw=w855-h640-no" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://lh3.googleusercontent.com/UjElzlwCoIjzbu-nuo2KtLue4BJ4o7VV3JJBt7jV-9K_gpTTR-_Oxeq9NxnIgqFfB1PKhoibmXLviZ867HxF1OjLJDbzTxBK0cNtocnpD0M8FeHSSHJwCoLmffkXOLLMiVtK74AlYD80EApGPYIz_NKGe-Gfc3I0Wyc2nBpmM0zx_nBBXPa7IwkOoI4turv4NB9t_hjyBeYu9sB4sD9XXaEx7JFu3mr22BoFQIWr4kqaO5U_2_5OcBtLsT3lCn-4YNKigcpiW0b1dXZ_Kcds9scP2Lxug30eWif9ntF5YIeqsbHLND1Eg8Q55TzEr-2Mw7sovhWdIkroQXKTMWQtGjEj51aDjnHYB9b9DbMcYS7eN42HVBmu0U2j68Bt3FJ7UjeVEIh8bxznH1bVsKY0UhWUi-NppQbjOzvXsM7jnrqRE7sOlbofM1y11K5LM0eSTonuxxvLCaj7E-nRRJonsHnIj2eLMdjOQdyukTzCMTueqK9PFob6jcSiqvPYlXY1VUnqUAWR1I4Xlo0-6QVW1mrVCvH21YhUgzh5rQ_uE5zcCDaHNL1M74l0361y1nFKn9mi0rRynN_LosSMwZPTfa87gNGKwGVqQBbQ5PXXB28=s663-no" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506585287/jz92vzbfgaxjdjnu3xrp.png" class="img-responsivhttps://lh3.googleusercontent.com/N82YkcxLkK8pqkkUWjx_oZoOxtRvc8T-JnwhNt4G7Hfpveyzq8lQ3EOwWklqhA6I4xWVQF70dUYtIETJ9Ow0ukPQkJrNNio97-ueheNyN_SpWSYijegFCi2FC_V4S4B9vsa85zJLYOweRwSJFsZ2oTL1wa9Dz9Kz1m5L4-AZcNU3TP_kVXQEYCQvPx0xRzMk5nkNrrRz7Un0EyhWsc-48a_j62DV3PIDKmMYEKR5N5EyeVsuVW9ZN1FXSD7IUhm7fdeoxFRwfzZxihDTQKHkdW_IDGQpolL5gwIR37c_6d-zRwZ8pIFugJYGOYQBK_CeV4AsuKYqbz-6vBdobi4f51SR7JLunmyBy1iVIcZbxJOluaoBQAw1IXZIi1IK1K8lj46Uq59MY-3gZ943SkKo5l3SIeFsGD9EW0oColQY780nHMi7DuwQl5Gb8JjiEaZ7Tg6EnExR-lG3JFVAnzxmQSY3-OZe6kmcJO-tgU0BqStFz5cky2FxHxUdk5c7sR32Wd8uvlttAJdZ9gCV-l2gz9wyCfCgpDpeWuKU0fZzF1Rg3yAgykeFBBuWbQTL9N5RBroZIe9FCPECk-SkEX3OeSGS4FP45CbvnK7DcKiJO3E=w855-h640-noe" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506574117/ztrspp6n9fz41vcrivlp.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="http://res.cloudinary.com/db45meith/image/upload/v1506174938/qkgncheisvxe2emgs6st.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t34.0-12/25287243_1792741827475219_1420655505_n.jpg?oh=a0350c6e5a48636efa2d465e98c7ecc6&oe=5A311BA0" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
