<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flowchart</title>
<meta name="description" content="Interactive flowchart diagram implemented by GoJS in JavaScript for HTML." />
<!-- Copyright 1998-2017 by Northwoods Software Corporation. -->
<meta charset="UTF-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.7.29/go-debug.js"></script>
<script src="../release/go.js"></script>
<script src="../assets/js/goSamples.js"></script>  <!-- this is only for the GoJS Samples framework -->
<!-- The DIV for a Diagram needs an explicit size or else we will not see anything.
     In this case we also add a background color so we can see that area. -->
<h1>猫の様子</h1>
<p>猫の家系図を作っています。</p>
<div id="myDiagramDiv"
     style="width:950px; height:400px; background-color: #DAE4E4;"></div>
<script>
var $ = go.GraphObject.make;

var myDiagram =
  $(go.Diagram, "myDiagramDiv",
    {
      initialContentAlignment: go.Spot.Center, // center Diagram contents
      "undoManager.isEnabled": true, // enable Ctrl-Z to undo and Ctrl-Y to redo
      layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
                { angle: 90, layerSpacing: 35 })
    });

// the template we defined earlier
myDiagram.nodeTemplate =
  $(go.Node, "Horizontal",
    { background: "#44CCFF" },
    $(go.Picture,
      { margin: 10, width: 50, height: 50, background: "red" },
      new go.Binding("source")),
    $(go.TextBlock, "Default Text",
      { margin: 12, stroke: "white", font: "bold 16px sans-serif" },
      new go.Binding("text", "name"))
  );

// define a Link template that routes orthogonally, with no arrowhead
myDiagram.linkTemplate =
  $(go.Link,
    { routing: go.Link.Orthogonal, corner: 5 },
    $(go.Shape, { strokeWidth: 3, stroke: "#555" })); // the link shape

var model = $(go.TreeModel);
model.nodeDataArray =
[
  { key: "1",              name: "Don Meow",   source: "https://raw.githubusercontent.com/NorthwoodsSoftware/GoJS/master/learn/cat1.png" },
  { key: "2", parent: "1", name: "Demeter",    source: "https://raw.githubusercontent.com/NorthwoodsSoftware/GoJS/master/learn/cat2.png" },
  { key: "3", parent: "1", name: "Copricat",   source: "https://raw.githubusercontent.com/NorthwoodsSoftware/GoJS/master/learn/cat3.png" },
  { key: "4", parent: "3", name: "Jellylorum", source: "https://raw.githubusercontent.com/NorthwoodsSoftware/GoJS/master/learn/cat4.png" },
  { key: "5", parent: "3", name: "Alonzo",     source: "https://raw.githubusercontent.com/NorthwoodsSoftware/GoJS/master/learn/cat5.png" },
  { key: "6", parent: "2", name: "Munkustrap", source: "https://raw.githubusercontent.com/NorthwoodsSoftware/GoJS/master/learn/cat6.png" }
];
myDiagram.model = model;
</script>


</body>
</html>
